 
img {
    width: 150px;
    height: 250px;
    opacity: 0;
}

.main {
    margin: 120px auto;
    background: #dddddd;
    width: 1000px;
    height: 800px; 
    border-radius: 20px; 
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(3, 250px);
}

h1{
    font-size: 5em;
    font-style:  oblique;
    font-family: Copperplate, Papyrus, fantasy;
    text-align: center;
    color : #4b2c14;
    animation: mymove 0.8s infinite;
}

@keyframes mymove {
    from {background-color: rgb(235, 60, 60);}
    to {background-color: rgb(102, 104, 233);}
}
  

body{
    margin: 0;
    /*background: url('./pictures/0.jpg') no-repeat;*/
    background: linear-gradient(to right, #3fee56, #ec4c4c);
    font-family: 'Helvetica Neue', Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
}

div {
    
    background: url('./pictures/back.gif');
    cursor: pointer;
    border: 2px solid white;
    outline: none;
    

}

#start-btn{

    position: absolute;
    top : 200px;
    right : 750px;
    height: 50px;
    width: 100px;

}

#reset-btn{

    position: absolute;
    top : 200px;
    left : 750px;
    height: 50px;
    width: 100px;

}

#win{

    position: absolute;
    top : 200px;
    right : 450px;
    
}

#loose{

    position: absolute;
    top : 200px;
    left : 450px;
    
}


#ship{

    opacity: 1;
}

.tresore1 img {

    opacity: 1;
    position: absolute;
    bottom : 140px;
    left : 250px;
    height:120px;
    width:120px; 
}

.tresore2 img {

    opacity: 1;
    position: absolute;
    bottom : 140px;
    right : 250px;
    height:120px;
    width:120px; 
}


.luffy img {

    opacity: 1;
    position: absolute;
    top : 320px;
    right : 250px;
    height:120px;
    width:120px; 
} 

.barbenoire img {

    opacity: 1;
    position: absolute;
    top : 320px;
    left : 250px;
    height:120px;
    width:120px; 
} 

.logo1 img{
    
    opacity: 1;
    position: absolute;
    top : 0px;
    right : 160px;
    height:220px;
    width:380px; 


}

.logo2 img{
  
    opacity: 1;
    position: absolute;
    top : 0px;
    left : 160px;
    height:220px;
    width:380px; 


}
